<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568719167057-r4aneknql9ku3ipshf5so41lo0m16vc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568719167057-r4aneknql9ku3ipshf5so41lo0m16vc7</string>
	<key>API_KEY</key>
	<string>AIzaSyBndiZTOM5TtPGBq7IbIXFjU4WkM5XHFHw</string>
	<key>GCM_SENDER_ID</key>
	<string>568719167057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.codelab.FriendlyChatSwift</string>
	<key>PROJECT_ID</key>
	<string>friendlychat-359fe</string>
	<key>STORAGE_BUCKET</key>
	<string>friendlychat-359fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:568719167057:ios:6f0ca228d496f3888af270</string>
</dict>
</plist>
